body{
  position: fixed;
  width: 100%; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App{ 
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  
}

::-webkit-scrollbar{
  display: none;
}

